<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    
    <h1> Edit <%=product.name%></h1>

    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%=product.name%>"/> <br>
    <input type="text" name="description" value="<%=product.description%>"/>  <br>
    <input type="text" name="img" value="<%=product.img%>"/>  <br>
    <input type="number" name="price" value="<%=product.price%>"/>  <br>
    <input type="number" name="qty" value="<%=product.qty%>"/> <br>
        <input type="submit" name="" value="Edit Product"/>
        
    </form>


</body>
</html>