<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
<nav>
    <a href="/products"> Return to Main Page</a>
</nav>

<h1> <%=product.name%> </h1>
<a href="/products/<%=product._id %>/edit"> Edit Product</a>
<form action="/products/<%=product.id%>?_method=DELETE" method="POST">
    <input id="deleteBtn" type="submit" value="DELETE"/>
</form>
<br>

<img src="<%=product.img%>"/>
<br>
Description: <%=product.description%>
<h2> 
    Price: $ <%= product.price %>
    <br>  
    <% if(product.qty > 0) { %>
        Quantity: <%=product.qty%>
        <form action="/products/<%=product._id%>/buy?_method=PUT"method="POST">
            <input type="submit" value="Buy product" id="buyBtn"/>
        </form>

    <% } else { %>
        Quantity: OUT OF STOCK
    <% } %>

      
    

 </h2>




</body>
</html>