<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<nav>
    <a href="/products"> Return to Main Page</a>
</nav>

<h1> <%=product.name%> </h1>
<a href="/products/<%=product._id %>/edit"> Edit Product</a>
<form action="/products/<%=product.id%>?_method=DELETE" method="POST">
    <input type="submit" value="DELETE"/>
</form>
<br>

<img src="<%=product.img%>"/>
<br>
Description: <%=product.description%>
<h2> 
    Price: $ <%= product.price %>
    <br>  
    <% if(product.qty > 0) { %>
        <% const quantity = [product.qty]%>
        Quantity: <span class ='productQuantity'><%=product.qty%></span>

        <form action="/products/<%=product._id%>?_method=PUT" onsubmit="buyBtnClick()"method="POST">
            <input type="submit" value="Buy product"/>
        </form>

    <% } else { %>
        Quantity: OUT OF STOCK
    <% } %>

      
    

 </h2>





<!-- GRAVEYARD CODE



 -->


</body>
</html>